.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

data/interim/*
!data/interim/.gitkeep

notebooks/**/*.csv
notebooks/**/*.xlsx

reports/*.csv
reports/*.png
reports/*.json

models/
*.pt
*.pth
*.onnx

src/*.egg-info
